/*body,{
/*
  background: #B993D6;  /* fallback for old browsers */

/* background: -webkit-linear-gradient(to right, #8CA6DB, #B993D6);  /* Chrome 10-25, Safari 5.1-6 */

/*  background: linear-gradient(to right, #8CA6DB, #B993D6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

/*  background: white;
}*/

.cardPropio {
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 100px;
  border-style: none;
  border-color: transparent
}

.formGroupPropio {
  margin-top: 30px
}

.rowPropio {
  padding-top: 50px
}

.card2Propio {
  margin-top: 200px;
  margin-bottom: 200px;
  margin-left: 100px
}

.backgroundPropio {
  background: #0056ff
}

.navbar {
  height: 50px;
}

#footer {
  height: 258px;
}

#login {
  margin-right: 260px;
}

#bodyInfo {
  height: 500px;
  margin-left: 70px;
}

#features {
  padding-top: 80px;
  background: #d2fdff;
  padding-bottom: 80px;
}